 .background{
    background-repeat:no-repeat;
    background-size: cover;
   /* background-image: url('https://media0.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif?cid=ecf05e478ffq452ncmg2x89hiu1oy3kvwkhyx6dac9w4mbpd&rid=giphy.gif');*/
    background-image: url('images/simple_but_beautiful_by_xflutt_de4lmm9.png');
    height: 700px;
    width: 900px;
}
.container{
    display:flex;

}
#start-button {
    font-size: 30px;
    background-color: rgb(37, 12, 59);
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
}
#medium-button {
    font-size: 30px;
    background-color: rgb(37, 12, 59);
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
}
#easy-button {
    font-size: 30px;
    background-color: rgb(37, 12, 59);
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
}

.h-score {
    font-size: 20px;
    font-family: "Verdana";
    background-color: rgb(37, 12, 59);
    color: #fff;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px 30px;
} 

#score p{
    font-size: 20px;
    background-color: rgb(37, 12, 59);
    color: #fff;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-left: 10px;
    
}


.gameOver {
    height: 700px;
    width: 1100px; /* was 900*/
    background-repeat:no-repeat;
    background-size: contain;
    background-image: url('images/crazycloud (1).png'); 
    
}
.youWon {
    height: 700px;
    width: 900px;
    background-repeat:no-repeat;
    background-size: contain;
    /*background-image: url('images/owen.png'); */
    background-image: url('https://media2.giphy.com/media/YocXhNZN0yeoc10CdD/giphy.gif');
}

.giphy {
    background-size: cover;
    background-image:url('https://media0.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif?cid=ecf05e478ffq452ncmg2x89hiu1oy3kvwkhyx6dac9w4mbpd&rid=giphy.gif') ;
}